@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap');

body {
    margin: 0;
    font-family: Lato, sans-serif;
}

.header {
    background: #222222;
    height: 74px;
    padding: 18px 16px;
    box-sizing: border-box;

}

.header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header i {
    color: #E8E8E8;
}

.userIcon,
.cartIconWrap {
    display: none;
}

.userIcon {
    margin-left: 25px;
    margin-right: 42px;
}

.searchIcon {
    margin-left: 41px;
}

.cartIconWrap {
    position: relative;
}

.cartIconWrap span {
    display: inline-block;
    width: 19px;
    height: 19px;
    color: white;
    background: #F16D7F;
    border-radius: 50%;
    position: absolute;
    text-align: center;
    right: -9px;
    top: -20px;
    font-size: 12px;
    line-height: 19px;
}

@media (min-width: 768px) {
    .header {
        padding-left: 32px;
        padding-right: 32px;
    }

    .userIcon,
    .cartIconWrap {
        display: inline;
    }

}

@media (min-width: 1600px) {
    .container {
        margin: 0 auto;
        width: 1140px;
    }
}

.brandWrap {
    min-height: 320px;
    position: relative;
}

.brandInsideWrap {
    min-height: inherit;
}

.brandLeft {
    display: none;
}

.brandLeft img {
    display: block;
    width: 100%;
}

.brandRight {
    background: #F1E4E6;
    min-height: inherit;
    display: flex;
    justify-content: center;
    align-items: center;
}

.brandPromoWrap {
    border-left: 12px solid #F16D7F;
    padding-left: 15px;
    height: 61px;
}

.brandPromoWrap div:first-child {
    font-weight: 900;
    font-size: 38px;
    line-height: 27px;
    color: #222222;
}

.brandPromoWrap div:last-child {
    font-weight: bold;
    font-size: 20px;
    line-height: 53px;
}

.brandPromoWrap span {
    color: #F16D7F;
}

@media (min-width: 768px) {
    .brandInsideWrap {
        display: flex;
    }

    .brandInsideWrap>div {
        width: 50%;
    }

    .brandLeft {
        display: block;
    }

    .brandPromoWrap {
        border-left: 12px solid #F16D7F;
        padding-left: 15px;
        height: 78px;
    }

    .brandPromoWrap div:first-child {
        font-size: 44px;
        line-height: 31px;
    }

    .brandPromoWrap div:last-child {
        font-size: 24px;
        line-height: 76px;
    }

}

@media (min-width: 1600px) {

    .brandRight {
        justify-content: flex-start;
        /* padding-left: 64px;
        box-sizing: border-box; */
    }

    .brandPromoWrap {
        margin-left: 64px;
        border-left: 12px solid #F16D7F;
        padding-left: 15px;
        height: 93px;
    }

    .brandPromoWrap div:first-child {
        font-size: 48px;
        line-height: 34px;
    }

    .brandPromoWrap div:last-child {
        font-size: 32px;
        line-height: 94px
    }

}

.brandDark {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
}

.hidden {
    display: none;
}


.menu {
    width: 232px;
    height: inherit;
    background: white;
    margin-left: auto;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    padding: 37px 24px;
    box-sizing: border-box;
    position: relative;
    max-height: inherit;
    overflow: auto;
}

.menuUnitLinks a {
    display: block;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 33px;
    color: #6F6E6E;
    text-decoration: none;
    margin-left: 21px;
}

/* .menuHeader {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 33px;
    color: #F16D7F;
} */

.menuHeader a {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 33px;
    color: #F16D7F;
    text-decoration: none;
}

.menuTitle {
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
    color: #000000;
    margin-bottom: 16px;
}

.menuClose {
    position: absolute;
    top: 16px;
    right: 16px;
}

.offers {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, 247px) 111px;
    row-gap: 32px;
    padding: 64px 16px;
}

.offers>div {
    position: relative;
}

.offers img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    left: 0;
    top: 0;

}

.offerTitle {
    position: relative;
    z-index: 1;
    color: white;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.offerTitleTop {
    font-size: 16px;
    font-weight: 400;
}

.offerTitleBottom {
    font-size: 24px;
    font-weight: 700;
    color: #F16D7F;
}

@media (min-width:768px) {
    .offers {
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: 1fr 1fr;
        gap: 20px;
        min-height: 470px;
    }

    .offerAccesories {
        grid-column: 1/-1;
    }
}

.featured {
    padding-left: 8px;
    padding-right: 8px;
    margin-bottom: 96px;
}

.featured h2 {
    margin-top: 0;
    margin-bottom: 5px;
    text-align: center;
    color: #222222;
    font-weight: 400;
    font-size: 30px;
}

.featuredTitle {
    text-align: center;
    color: #9F9F9F;
    font-weight: 400;
    font-size: 14px;
    margin-bottom: 64px;
}

.featuredItems {
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 16px;
}

.featuredItem {
    background: #F8F8F8;
}

.featuredItem img {
    width: 100%;
    display: block;
}

.featuredImageWrap {
    position: relative;
}

.featuredItem:hover .featuredImgDark {
    display: flex;
}

.featuredImgDark {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background: rgba(58, 56, 56, 0.86);
    display: none;
    justify-content: center;
    align-items: center;
}

.featuredImgDark button {
    background: none;
    border: 1px solid white;
    font-weight: 400;
    font-size: 14px;
    color: #FFFFFF;
    display: flex;
    align-items: center;
    padding: 14px 10px;

}

.featuredImgDark button img {
    width: 26px;
    height: 24px;
    margin-right: 11px;
}

.featuredData {
    padding: 23px 16px 20px;
}

.featuredName {
    font-weight: 400;
    font-size: 13px;
    color: #000000;
}

.featuredText {
    font-weight: 300;
    font-size: 14px;
    color: #5D5D5D;
    margin-top: 12px;
    margin-bottom: 18px;

}

.featuredPrice {
    font-weight: 400;
    font-size: 16px;
    color: #F16D7F;
}

@media (min-width: 768px) {

    .featured {
        padding-left: 16px;
        padding-right: 16px;
    }

    .featuredItems {
        grid-template-columns: 1fr 1fr;
        row-gap: 18px;
        column-gap: 16px;
    }


}

@media (min-width: 1600px) {
    .featured {
        padding-left: 0;
        padding-right: 0;
    }

    .featuredItems {
        grid-template-columns: 1fr 1fr 1fr;
        gap: 30px;
    }
}

.featureBrowseBtn {
    font-family: inherit;
    font-weight: 400;
    font-size: 16px;
    color: #F26376;
    border: 1px solid #F26376;
    background-color: white;
    margin-top: 40px;
    padding: 15px 40px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.featureBrowseBtn:hover {
    color: white;
    background-color: #F26376;
}

.services {
    background-color: #222224;
    padding-top: 48px;
    padding-bottom: 81px;
    padding-left: 13px;
    padding-right: 13px;
}

.services .container {
    display: grid;
    gap: 46px;
}

@media (min-width: 1600px) {
    .services .container {
        display: grid;
        gap: 46px;
        grid-template-columns: repeat(3, 1fr);
    }

    .services {
        padding-top: 100px;
        padding-bottom: 100px;
    }
}

.serviceUnit {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.serviceTitle {
    font-weight: 400;
    font-size: 19.96px;
    color: #FBFBFB;
    margin-top: 27px;
    margin-bottom: 15px;
}

.serviceText {
    font-weight: 300;
    font-size: 13.972px;
    text-align: center;
    color: #FBFBFB;
    max-width: 340px;
}

.subscribe {
    background: url(img/img_subscribe_back.png) no-repeat;
    background-size: cover;
    padding-top: 64px;
    padding-bottom: 109px;
    padding-left: 20px;
    padding-right: 20px;
}

@media (min-width: 1600px) {
    .subscribe .container {
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
    }

    .subscribe {
        padding-top: 100px;
        padding-bottom: 150 px;
    }

    .subscribeRight {
        margin-top: initial;
    }
}

.subscribeLeft {
    display: flex;
    flex-direction: column;
    align-items: center;

}

.subscribeLeftText {
    margin-top: 30px;
    font-weight: 400;
    font-size: 20px;
    text-align: center;
    color: #222224;
    max-width: 330px;
}

.subscribeLeftText mark {
    font-weight: 400;
    font-size: 20px;
    font-style: italic;
    background: none;
    color: #222224;
}

.subscribeRight {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 65px;
}

.subscribeRightTitle {
    font-weight: 700;
    font-size: 24px;
    text-align: center;
    color: #222224;
}

.subscribeRightText {
    font-weight: 400;
    font-size: 14px;
    text-align: center;
    color: #222224;
    margin-bottom: 22px;
}

.subscribeRightTitle,
.subscribeRightText {
    max-width: 271px;
}

.subscribeRightForm {
    height: 47px;
}

.subscribeRight input {
    height: inherit;
    background: #E1E1E1;
    border: none;
    padding: 6px 21px;
    box-sizing: border-box;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
    float: left;
    width: 185px;

}

.subscribeRight input::-webkit-input-placeholder {
    font-weight: 400;
    font-size: 14px;
    color: #222224;
    opacity: 0.67;
}

.subscribeRight input ::-moz-placeholder {
    font-weight: 400;
    font-size: 14px;
    color: #222224;
    opacity: 0.67;
}

.subscribeRight input :-ms-input-placeholder {
    font-weight: 400;
    font-size: 14px;
    color: #222224;
    opacity: 0.67;
}

.subscribeRight input :-moz-placeholder {
    font-weight: 400;
    font-size: 14px;
    color: #222224;
    opacity: 0.67;
}


.subscribeRight button {
    height: inherit;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
    font-weight: 400;
    font-size: 14px;
    color: #FFFFFF;
    background: #F16D7F;
    border: none;
    padding: 0 17px;
}

.footer {
    background: #222224;
    padding: 43px 20px 10px;
}

.footer .container {
    display: flex;
    align-items: center;
    flex-direction: column;
}

@media (min-width: 768px) {
    .footer .container {
        flex-direction: row-reverse;
        justify-content: space-between;
        align-items: center;
    }

    .footer {
        padding: 24px 32px;
    }

}

.footer a {
    color: #000000;
    background-color: white;
    width: 32px;
    height: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}

.footer a:hover {
    background-color: #F16D7F;
    color: white;
}

.footer a:not(:last-child) {
    margin-right: 7px;
}

.footerLeft {
    display: flex;
}


.footerRight {
    font-weight: 400;
    font-size: 16px;
    color: #FBFBFB;
}

@media (max-width: 767px) {
    .footerRight {
        margin-top: 40px;
    }
}